%h2 Template
%table.table
  %thead
    %tr
      %th Name
      %th Price
      %th Count
      %th Sum
  %tbody
    - @template.products.each do |product|
      %tr
        %td= product.name
        %td= product.price
        %td= product.count
        %td= product.sum
= link_to 'Add product', new_template_product_path(@template), class: 'btn btn-xs btn-success'
%br
%br
= link_to "Generate report", generate_report_template_path(@template), method: :post, class: 'btn btn-xs btn-primary'
%br
%br
= link_to "Back", templates_path, class: 'btn btn-xs btn-default'
